<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="node_name" default="emlid_gps" />
  <arg name="frame_id" default="gps_link" />
  <arg name="port" default="/dev/ttyACM0"/>
  <arg name="baud" default="57600"/>
  <arg name="output" default="screen" />
  <arg name="respawn" default="true" />
  <arg name="respawn_delay" default="30" />
  <arg name="clear_params" default="true" />

  <node pkg="nmea_navsat_driver" exec="nmea_serial_driver" name="$(var node_name)"
        output="$(var output)"
        respawn="$(var respawn)"
        respawn_delay="$(var respawn_delay)">
    <param name="port" value="$(var port)"/>
    <param name="baud" value="$(var baud)"/>
    <param name="frame_id" value="$(var frame_id)"/>
  </node>
</launch>