<launch>
  <arg name="config_file_location" default="$(find-pkg-share zed_cpu_ros)/config/SN1267.conf"/>
  <arg name="camera_namespace" default="camera"/>
  <arg name="device_id" default="5"/>
  <arg name="resolution" default="1"/>
  <arg name="frame_rate" default="30"/>
  <arg name="show_image" default="false"/>
  <arg name="encoding" default="bgr8"/>
  <arg name="use_zed_config" default="false"/>

  <node pkg="zed_cpu_ros" exec="zed_cpu_ros" name="zed_cpu_ros_node" output="screen" ns="$(var camera_namespace)" required="true">
    <param name="resolution" value="$(var resolution)" unless="$(eval '$(var resolution)>3')"/>
    <param name="frame_rate" value="$(var frame_rate)"/>
    <param name="config_file_location" value="$(var config_file_location)"/>
    <param name="show_image" value="$(var show_image)"/>
    <param name="left_frame_id" value="left_frame"/>
    <param name="right_frame_id" value="right_frame"/>
    <param name="use_zed_config" value="$(var use_zed_config)"/>
    <param name="device_id" value="$(var device_id)"/>
    <param name="encoding" value="$(var encoding)"/>
  </node>
</launch>